<h3>Detalles de Aguinaldo</h3>
<div>
  <div>
    <label><b>ID : </b> {{ aguinaldo.idaguinaldo}}</label>
  </div>
  <div>
    <label><b>Nombre Empleado : </b> {{aguinaldo.nombre_empleado}}</label>
  </div>
  <div>
    <label><b>Id Empleado: </b> {{aguinaldo.id_empleado}}</label>
  </div>
  <div>
    <label><b>Año: </b> {{aguinaldo.anio}}</label>
  </div>
  <div>
  <label><b>Salario Base : </b> {{aguinaldo.salario_base}}</label>
 </div>
 <div>
    <label><b>Dias Aguinaldos: </b> {{aguinaldo.dias_aguinaldos}}</label>
  </div>
  <div>
    <label><b>Monto Aguinaldo: </b> {{aguinaldo.monto_aguinaldo}}</label>
  </div>
  <div>
    <label><b>Fecha Creacion: </b> {{aguinaldo.fecha_creacion}}</label>
  </div>
  <div>
   
      
          


