<h2>Lista de Empleados</h2>
<table class="table table-striped">
<thead class="table-dark">
    <tr>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Genero</th>
        <th>Direccion</th>
        <th>Telefono</th>
        <th>Email</th>
        <th>Fecha Contratacion</th>
        <th>Departamento Id</th>
        <th>Estado</th>
        <th>Nacionalidad</th>
        <th>Id Tipo Documento</th>
        <th>Numero Documento</th>
    </tr>
</thead>
<tbody>
<tr *ngFor= "let empleado of empleados">
    <td>{{empleado.nombre}}</td>
    <td>{{empleado.apellido}}</td>
    <td>{{empleado.genero}}</td>
    <td>{{empleado.direccion}}</td>
    <td>{{empleado.telefono}}</td>
    <td>{{empleado.email}}</td>
    <td>{{empleado.fecha_contratacion}}</td>
    <td>{{empleado.departamento_id}}</td>
    <td>{{empleado.estado}}</td>
    <td>{{empleado.nacionalidad}}</td>
    <td>{{empleado.idtipo_documento}}</td>
    <td>{{empleado.numero_documento}}</td>

    <button (click)= "actualizarEmpleado(empleado.idempleado)" class="btn btn-info">Editar</button>
    <button (click)= "eliminarEmpleado(empleado.idempleado)" class="btn btn-danger" style="margin-left: 10px">Eliminar</button>
    <button (click)= "verDetallesDelEmpleado(empleado.idempleado)" class="btn btn-primary" style="margin-left : 10px;">Detalles</button>
  
</tr>
</tbody>
</table>
