<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
<ul class="navbar-nav">
    <li class="nav-item">
        <a routerLink="departamentos" routerLinkActive="active" class="nav-link">Lista de Departamentos</a>
    </li>
    <li class="nav-item">
        <a routerLink="registrar-departamento" routerLinkActive="active" class="nav-link">Añadir Departamento</a>
    </li>
</ul>
</nav>

<div class="container">
    <router-outlet></router-outlet>    
</div>

<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a routerLink="empleados" routerLinkActive="active" class="nav-link">Lista de Empleados</a>
        </li>
        <li class="nav-item">
            <a routerLink="registrar-empleado" routerLinkActive="active" class="nav-link">Añadir Empleado</a>
        </li>
    </ul>
    </nav>
    <div class="container">
        <router-outlet></router-outlet>
  </div>

    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a routerLink="detallesplanillas" routerLinkActive="active" class="nav-link">Lista de Detalles de Planillas</a>
            </li>
            <li class="nav-item">
                <a routerLink="registrar-detalleplanilla" routerLinkActive="active" class="nav-link">Añadir Detalle Planilla</a>
            </li>
        </ul>
        </nav>
        <div class="container">
            <router-outlet></router-outlet>
        </div>
    
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a routerLink="aguinaldos" routerLinkActive="active" class="nav-link">Lista de Aguinaldos</a>
                </li>
                <li class="nav-item">
                    <a routerLink="registrar-aguinaldo" routerLinkActive="active" class="nav-link">Añadir Aguinaldo</a>
                </li>
            </ul>
            </nav>
            
            <div class="container">
                <router-outlet></router-outlet>
            </div>
        
            <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a routerLink="ausencias" routerLinkActive="active" class="nav-link">Lista de Ausencias</a>
                    </li>
                    <li class="nav-item">
                        <a routerLink="registrar-ausencia" routerLinkActive="active" class="nav-link">Añadir Ausencia</a>
                    </li>
                </ul>
                </nav>
                
                <div class="container">
                    <router-outlet></router-outlet>
                </div>

                <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a routerLink="tiposcontratos" routerLinkActive="active" class="nav-link">Lista de Tipos de Contratos</a>
                        </li>
                        <li class="nav-item">
                            <a routerLink="registrar-tipocontrato" routerLinkActive="active" class="nav-link">Añadir Tipo de Contrato</a>
                        </li>
                    </ul>
                    </nav>
                    
                    <div class="container">
                        <router-outlet></router-outlet>
                    </div>

                    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a routerLink="tiposdocumentos" routerLinkActive="active" class="nav-link">Lista de Tipos de Documentos</a>
                            </li>
                            <li class="nav-item">
                                <a routerLink="registrar-tipodocumento" routerLinkActive="active" class="nav-link">Añadir Tipo de Documento</a>
                            </li>
                        </ul>
                        </nav>
                        
                        <div class="container">
                            <router-outlet></router-outlet>
                        </div>

                        <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
                            <ul class="navbar-nav">
                                <li class="nav-item">
                                    <a routerLink="bonificaciones" routerLinkActive="active" class="nav-link">Lista de Bonificaciones</a>
                                </li>
                                <li class="nav-item">
                                    <a routerLink="registrar-bonificacion" routerLinkActive="active" class="nav-link">Añadir Bonificacion</a>
                                </li>
                            </ul>
                            </nav>
                            
                            <h1 class="text-center">{{title}}</h1>
                            <div class="container">
                                <router-outlet></router-outlet>
                            </div>
            