<h3>Detalles de la Ausencia</h3>
<div>
  <div>
    <label><b>ID : </b> {{ ausencia.idausencia }}</label>
  </div>
  <div>
    <label><b>Nombre Empleado: </b> {{ausencia.nombre_empleado }}</label>
  </div>
  <div>
    <label><b>Id Empleado: </b> {{ausencia.id_empleado}}</label>
  </div>
  <div>
    <label><b>Fecha Inicio: </b> {{ausencia.fecha_inicio}}</label>
  </div>
  <div>
  <label><b>Fecha Fin: </b> {{ausencia.fecha_fin}}</label>
 </div>
 <div>
    <label><b>Dias Ausentes: </b> {{ausencia.dias_ausentes}}</label>
  </div>
  <div>
    <label><b>Comentarios: </b> {{ausencia.comentarios}}</label>
  </div>
  <div>
    <label><b>Id Tipo Ausencia: </b> {{ausencia.idtipo_ausencia}}</label>
  </div>
  