<h3>Detalles de Planilla</h3>
<div>
  <div>
    <label><b>ID : </b> {{ detalleplanilla.iddetalleplanilla }}</label>
  </div>
  <div>
    <label><b>Nombre Empleado: </b> {{detalleplanilla.nombre_empleado}}</label>
  </div>
  <div>
    <label><b>Id Empleado: </b> {{detalleplanilla.id_empleado}}</label>
  </div>
  <div>
    <label><b>Id Planilla: </b> {{detalleplanilla.id_planilla}}</label>
  </div>
  <div>
  <label><b>Salario Mensual: </b> {{detalleplanilla.salario_mensual}}</label>
 </div>
 <div>
    <label><b>Aguinaldo: </b> {{detalleplanilla.aguinaldo}}</label>
  </div>
  <div>
    <label><b>Bonificacion: </b> {{detalleplanilla.bonificacion}}</label>
  </div>
  <div>
    <label><b>Deduccion AFP: </b> {{detalleplanilla.deduccionAFP}}</label>
  </div>
  <div>
    <label><b>Deduccion ISSS: </b> {{detalleplanilla.deduccionISSS}}</label>
  </div>
  <div>
    <label><b>Deduccion Renta</b> {{detalleplanilla.deduccionrenta}}</label>
  </div>
  <div>
    <label><b>Descuentos: </b> {{detalleplanilla.descuentos}}</label>
  </div>
  <div>
    <label><b>Prestamos </b> {{detalleplanilla.prestamos}}</label>
  </div>
  <div>
    <label><b>Salario Neto </b> {{detalleplanilla.salario_neto}}</label>
  </div>
  <div>
    <label><b>Fecha Pago </b> {{detalleplanilla.fecha_pago}}</label>
  </div>
  <div>
    <label><b>Observaciones </b> {{detalleplanilla.observaciones}}</label>
  </div>
  <div>
    <label><b>Fecha Creacion </b> {{detalleplanilla.fecha_creacion}}</label>
  </div>
  <div>
    <label><b>Nombre de Empleado que Elaboro </b> {{detalleplanilla.nombre_empleadoque_elaboro}}</label>
  </div>
  <div>
    <label><b>Nombre de Empleado que Autorizo </b> {{detalleplanilla.nombre_empleado_autorizo}}</label>
  </div>
          
