<h3>Detalles del Empleado</h3>
<div>
  <div>
    <label><b>ID : </b> {{ empleado.idempleado }}</label>
  </div>
  <div>
    <label><b>Nombre: </b> {{empleado.nombre }}</label>
  </div>
  <div>
    <label><b>Apellido: </b> {{empleado.apellido}}</label>
  </div>
  <div>
    <label><b>Genero: </b> {{empleado.genero}}</label>
  </div>
  <div>
  <label><b>Direccion: </b> {{empleado.direccion}}</label>
 </div>
 <div>
    <label><b>Telefono: </b> {{empleado.telefono}}</label>
  </div>
  <div>
    <label><b>Email: </b> {{empleado.email}}</label>
  </div>
  <div>
    <label><b>Fecha Contratacion: </b> {{empleado.fecha_contratacion}}</label>
  </div>
  <div>
    <label><b>Departamento Id: </b> {{empleado.departamento_id}}</label>
  </div>
  <div>
    <label><b>Estado: </b> {{empleado.estado}}</label>
  </div>
  <div>
    <label><b>Nacionalidad: </b> {{empleado.nacionalidad}}</label>
  </div>
  <div>
    <label><b>Id Tipo Documento: </b> {{empleado.idtipo_documento}}</label>
  </div>
  <div>
    <label><b>Numero Documento </b> {{empleado.numero_documento}}</label>
  </div>
      
          

